<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Weiterleitung ausländischer Besucher</label>
    <label>Redirect foreign visitors</label>

    <version>1.0.0</version>
    <copyright>Copyright (c) 2021, Netzhirsch GbR</copyright>
    <link>https://www.netzhirsch.de</link>
    <author>Netzhirsch GbR</author>
    <compatibility minVersion="5.2.0" />

    <description lang="de">
        <![CDATA[
            Leitet ausländische Besucher weiter an den jeweiligen Shop.
            Optional kann für einen Shop an Sprache angegeben werden. Anhand dieser Sprache wird automatisch nach einem passenden Shop gesucht.
            Das Plugin pro Shop deaktiviert werden.
            Dieses Plugin enthält GeoLite2-Daten, die von MaxMind erstellt wurden, erhältlich bei
            <a href="https://www.maxmind.com">https://www.maxmind.com</a>.
        ]]>
    </description>
    <description>
        <![CDATA[
            Redirects foreign visitors to the respective shop.
            This plugin contains GeoLite2 data created by MaxMind, available at.
            <a href="https://www.maxmind.com">https://www.maxmind.com</a>.
        ]]>
    </description>

    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung des Plugins.</changes>
        <changes>Initial Release of the plugin.</changes>
    </changelog>
</plugin>
