<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element scope="shop" type="boolean">
            <name>active</name>
            <label lang="de">Umleitung für diesen Subshop aktiv?</label>
            <label>Umleitung für diesen Subshop aktiv?</label>
            <value>true</value>
        </element>

        <element scope="shop" type="boolean">
            <name>withoutConfirmation</name>
            <label lang="de">Ohne Rückfrage umleiten?</label>
            <label>Redirect without asking?</label>
            <value>true</value>
            <description lang="de">Soll vor der Umleitung ein Popup angezeigt werden oder ohne Rückfrage umgeleitet werden?</description>
            <description>Should a popup be displayed before the redirection or should the redirection be made without confirmation?</description>
        </element>
		
        <element scope="shop" type="select">
            <name>locales</name>
            <label lang="de">Sprache(n)</label>
            <label>Language(s)</label>
            <description lang="de">Diesem Shop werden folgende Sprachen zugeordnet. So kann ein Sprach-/Subshop für mehrere Sprachen verwendet werden.</description>
            <description>The following languages are assigned to this shop. A language / subshop can be used for several languages.</description>
            <store>Shopware.apps.Base.store.Locale</store>
            <options>
                <multiSelect>true</multiSelect>
            </options>
        </element>
		
        <element scope="shop" type="combo">
            <name>redirectRule</name>
            <label lang="de">Umleitungsregel</label>
            <label>Redirect rule</label>
            <value>ip/browser</value>
            <description lang="de">Anhand welcher Kriterien soll eine Umleitung stattfinden?</description>
            <description>Based on which criteria a diversion should take place.</description>
            <store>
                <option>
                    <value>ip</value>
                    <label lang="de">IP-Adresse</label>
                    <label>IP-Address</label>
                </option>
                <option>
                    <value>browser</value>
                    <label lang="de">Browser Sprache</label>
                    <label>Browser language</label>
                </option>
                <option>
                    <value>ip/browser</value>
                    <label lang="de">zuerst nach IP dann nach Browser-Sprache</label>
                    <label>first after IP then according to browser language</label>
                </option>
                <option>
                    <value>browser/ip</value>
                    <label lang="de">zuerst nach Browser-Sprache dann nach IP</label>
                    <label>first after browser language then according to IP</label>
                </option>
            </store>
        </element>
    </elements>
</config>
